.root {
  display: flex;
  overflow-x: auto;
  margin-bottom: 16px;
}

.imageBox {
  width: 100px;
  height: 130px;
  margin-right: 16px;
  position: relative;
}

.image {
  width: 100%;
  height: 70%;
  object-fit: cover;
}

.deleteButton {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.mainImageButton {
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}