.cost {
    font-size: 1.2rem;
    align-self: flex-end;
    display: flex;
    gap: 1rem;
    font-weight: 600;
}

.costFull {
    color: red;
    &::after {
        content: 'Р';
    }
}

.costDiscount {
    color: gray;
    text-decoration:line-through;
    &::after {
        content: 'Р';
    }
}