.productCartScreen {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;

  .title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
  }
}

.statusModal {
  max-width: 500px;
  text-align: center;
}

.statusModalText {

}

.btnContainer {
  margin-bottom: 1rem;
}
