.rangeSlider {
    display: flex;
    flex-flow: column;
    width: 200px;
    margin-top: 200px;
}

.inputGroup {
    display: flex;
}

.slider {
    height: 5px;
    position: relative;
    background: #ddd;
    border-radius: 5px;
  }
  
  .slider .track {
    height: 100%;
    position: absolute;
    border-radius: 5px;
    background: #17a2b8;
  }
  
  .rangeInput {
    position: relative;
  }
  
  .rangeInput input {
    position: absolute;
    width: 100%;
    height: 5px;
    top: -5px;
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    pointer-events: none;
  }

  input[type="range"]::-webkit-slider-thumb {
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background: #17a2b8;
    pointer-events: auto;
    -webkit-appearance: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
  }
  
  input[type="range"]::-moz-range-thumb {
    height: 17px;
    width: 17px;
    border: none;
    border-radius: 50%;
    background: #17a2b8;
    pointer-events: auto;
    -moz-appearance: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
  }

.leftValue, .rightValue {
    top: 15px;
}  

.leftValue {
    position: absolute;
    left:  5px;
}

.rightValue {
    position: absolute;
    right: -5px;
}