.textRangeInput {
    width: 50px;
    outline: none;
    font-size: 19px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #999;
    pointer-events: auto;
    -moz-appearance: none;
}