.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1rem;

    &.dark {
        background-color: rgb(34, 28, 79);
        color: whitesmoke;
    }
}

.content {
    display: flex;
    justify-content: space-between;
}